# Copyright (c) 2021 Bobby Noelte
# SPDX-License-Identifier: Apache-2.0

config THINGSET_CORE
        bool "ThingSet Core Support"
        help
          This option enables the ThingSet core support.

if THINGSET_CORE

endif # THINGSET_CORE
